@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

*{
font-family: 'fraunces', serif;
color: #fff;
}
body{
    margin: 0;
    background-color: 
    #2070d9;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculadora{
    display: grid;
    grid-template-columns: repeat(2,75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: #00916e;
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0px 5 px #00000033;
}
button{
   cursor: pointer;
   margin: 5px;
   padding: 0;
   border-radius: 32px;
   font-size: 1.5em;
   border: none;
   background-color: #00916e;
   
}